/* CSS code for responsive design */
body {
  font-family: 'Rosario', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #e89a00;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 26px;
  color: white;
  margin: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Make the hero section full height of the viewport */
  background-image: url('../img/pexelsklausnielsen6287295-1@2x.png');
  background-size: cover;
  background-position: center center;
  color: white;
}

.hero-content {
  text-align: center;
}

.welcome-message {
  font-size: 36px; /* Increase font size */
  margin-bottom: 20px;
}

.cta-buttons {
  margin-top: 20px;
}

.explore-button,
.order-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #e89a00;
  color: white;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.explore-button:hover,
.order-button:hover {
  background-color: #d57900;
}
